fastapi==0.115.6
uvicorn==0.34.0
langchain==0.3.13
langchain-groq==0.2.1
langchain-community==0.3.13
langchain-postgres==0.0.12
psycopg[binary]
langchain-google-genai
pypdf==5.1.0
ragas==0.2.8
python-multipart==0.0.20
openai==1.58.1
reportlab==4.2.5
pandas
